body {
    background-color: silver;
}

h1 {
    text-align: center;
}
p {
    font-size: 20px;
    text-align: left;
}
img {
    width: 200px;
    margin: 7px;
    text-align: center;
}

/* Style for the 'name' element, making it orange with white text */
#name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    background-color: rgb(255, 99, 71);
    border-radius: 8px;
    padding: 5px;
}

/* Styling for the navigation menu */
nav {
    padding: 10px;
    display: flex;
    width: 30%;
    justify-content: space-evenly;
    
}

/* Styling for navigation items ('a' elements) */
.items {
    background-color: rgb(255, 99, 71);
    border-radius: 8px;
    color: white;
}


/* Styling for navigation items when hovered over */
.items:hover {
    opacity: 0.5;
}

/* Styling for 'a' elements */
a {
    width: 20%;
    text-align: center;
    text-decoration: none;
}


